@model IEnumerable<kewcms.Areas.Admin.Models.VisitorInfo>

@{
    ViewData["Title"] = "Index";
}

<div class="wrapper">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading no-border">
                    访客信息
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.VisitorIp)</th>
                                <th>@Html.DisplayNameFor(model => model.CityId)</th>
                                <th>@Html.DisplayNameFor(model => model.CityName)</th>
                                <th>@Html.DisplayNameFor(model => model.VisitUrl)</th>
                                <th>@Html.DisplayNameFor(model => model.AppVersion)</th>
                                <th>@Html.DisplayNameFor(model => model.AddTime)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.VisitorIp)</td>
                                <td>@Html.DisplayFor(modelItem => item.CityId)</td>
                                <td>@Html.DisplayFor(modelItem => item.CityName)</td>
                                <td>@Html.DisplayFor(modelItem => item.VisitUrl)</td>
                                <td>@Html.DisplayFor(modelItem => item.AppVersion)</td>
                                <td>@Html.DisplayFor(modelItem => item.AddTime)</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    <div class="dataTables_paginate paging_bootstrap pagination">
                        <ul>
                            <li class="prev disabled"><a href="#">← 上一页</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li class="next"><a href="#">下一页 → </a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>