@model kewcms.Areas.Admin.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImgUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImgUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zhaiyao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zhaiyao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CallIndex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CallIndex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeoTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeoTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeoKeyword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeoKeyword)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeoDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeoDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Click)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Click)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
