@model kewcms.Areas.Admin.Models.ArticleCategory

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ArticleCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CallIndex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CallIndex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeoTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeoTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeoKeyword)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeoKeyword)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeoDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeoDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
